{% if product.options.size > 0 %}
  {% assign product_swatches_name = settings.product_swatches_name | join: ',' | downcase | split: "," %} {% comment %} 兼容旧数据 string -> arr {% endcomment %}
  {% assign thumb_swatch_name = nil %}
  {% assign product_variant_style = settings.product_variant_style | default: 'button' %}
  {% capture borderRadius %}
    {% if settings.button_edges == 'round' or settings.button_edges == 'slightly_round' %}
      rounded-btn-fixed
    {% else %}
      rounded-sm
    {% endif %}
  {% endcapture %}

  <spz-variants
    {% unless enable_selected_variants %}
      disabled-default-value
    {% endunless %}
    class="product-info__variants flex flex-col items-start"
    layout="container"
    id="product-info-variants"
    src="script:product-json"
    switch-slide="{{ settings.product_image_change_names | join: ',' }}"
    slide="product-detail-images"
    manual
    interference
    select-soldout-suffix=" - {{ 'i18n.product.product_detail.sold_out' | t }}"
    select-no-exists-suffix=" - {{ 'i18n.products.product.unavailable' | t }}"
    interact="hover"
    inherit-url-variant
    {{ block.shoplaza_attributes }}
  >
    {% for opt in product.options %}
      {% assign opt_idx = forloop.index | prepend: 'option' %}
      {% assign opt_name = opt.name | downcase %}
      {% if productSelectedVariant != nil and enable_selected_variants %}
        {% assign selected_opt_value = productSelectedVariant[opt_idx] %}
      {% endif %}

      {% assign is_thumbnail = false %}
      {% if product.need_variant_image
        and thumb_swatch_name == nil
        and product_swatches_name contains opt_name
      %}
        {% assign thumb_swatch_name = opt_name %}
        {% assign is_thumbnail = true %}
      {% endif %}

      {% if product_variant_style == 'button' or is_thumbnail %}
        <fieldset
          class="product-info__variants_content mx-0 mt-4 lg:mt-5 max-w-full min-w-[0px]"
          name="{{ opt.name | escape }}"
          @mouseout="product-info-selected-variant-option{{ opt.position }}.rerender(data=event, redo=true);"
          @mouseover="product-info-selected-variant-option{{ opt.position }}.rerender(data=event, redo=true);"
        >
          <legend class="w-full m-0 p-0 flex items-center flex-wrap leading-1.25 product-info__variants_title">
            <span class="lg:body-plus-2 font-semibold">
              {{ opt.name | escape }}:&nbsp;</span
            >
            {% if product_variant_style == 'button' or is_thumbnail %}
              <spz-render
                class="flex-1 color-body-70 leading-1.3125 lg:body-minus-2 flex-grow inline-flex items-center min-w-[0px]"
                id="product-info-selected-variant-option{{ opt.position }}"
                layout="container"
                manual
              >
                <span class="inline-block truncate max-w-full">
                  {% if selected_opt_value %}{{ selected_opt_value | escape }}{% endif %}
                </span>
                <template>
                  ${function(){
                    return `<span class="inline-block truncate max-w-full" title="${data.value}">${data.value}</span>`;
                  }()}
                </template>
              </spz-render>
            {% endif %}
          </legend>
          <div class="flex flex-wrap {% unless is_thumbnail %} product-info-variant-container {% endunless %}">
            {% for value in opt.values %}
              {% assign thumbnailImage = nil %}
              {% for v in product.variants %}
                {% if opt_idx contains 'option1' %}
                  {% assign optValue = v.option1 %}
                {% endif %}
                {% if opt_idx contains 'option2' %}
                  {% assign optValue = v.option2 %}
                {% endif %}
                {% if opt_idx contains 'option3' %}
                  {% assign optValue = v.option3 %}
                {% endif %}

                {% if thumbnailImage == nil and optValue == value %}
                  {% assign thumbnailImage = v.image %}
                {% endif %}
              {% endfor %}
              <div class="relative mt-3 mr-3">
                <input
                  type="radio"
                  id="product-info-variant-{{ value | escape }}-{{ forloop.index0 }}"
                  class="pointer-events-auto"
                  name="product-info-variant-{{opt.name}}"
                  option="{{ value | escape }}"
                  value="{{ value | escape }}"
                  form="product-info-body"
                  @input-debounced="product-info-selected-variant-{{ opt_idx }}.rerender(data=event, redo=true);"
                  {% if value == selected_opt_value %}
                    checked
                  {% endif %}
                >
                <label
                  class="product-info-variant-option break-words {{ borderRadius }}"
                  data-type="{% if is_thumbnail %}{% if settings.product_thumb_style == 'image_with_text' %}image-with-text{% else %}image{% endif %}{% else %}text{% endif %}"
                >
                  {% if is_thumbnail %}
                    <spz-img
                      src="{{ thumbnailImage.src | img_url }}"
                      layout="responsive"
                      width="42"
                      height="42"
                      alt="{{ thumbnailImage.alt }}"
                      object-fit="cover"
                      auto-fit
                    ></spz-img>
                    {% if settings.product_thumb_style == 'image_with_text' %}
                      <span class="break-words">{{ value | escape }}</span>
                    {% endif %}
                  {% else %}
                    <span class="break-words">{{ value | escape }}</span>
                  {% endif %}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      {% else %}
        {% comment %} dropdown style start {% endcomment %}
        <div class="mt-4 lg:mt-5 w-full md:hidden">
          <span class="lg:body-plus-2 leading-1.25 font-semibold product-info__variants_title">
            {{ opt.name | escape }}
          </span>
        </div>
        <div class="product-variant-select-container w-full mt-3 {{ borderRadius }}">
          <span class="lg:hidden lg:body-plus-2 leading-1.25 font-semibold product-info__variants_title">
            {{ opt.name | escape }}
          </span>
          <div class="product-variant-select-inner flex-1 relative flex items-cetner">
            <select
              class="product-variant__select pointer-events-auto md:body-plus-2 lg:w-full type-text-font-family"
              role="variant"
              name="{{ opt.name | escape }}"
              value="{{ selectedOptValue }}"
            >
              {% unless enable_selected_variants %}
                <option value="" id="product-info-variant-empty-option" selected></option>
              {% endunless %}
              {% for value in opt.values %}
                <option
                  class="product-info__variants_value"
                  value="{{ value | escape }}"
                  {% if value == selectedOptValue and enable_selected_variants %}
                    selected
                  {% endif %}
                >
                  {{ value | escape }}
                </option>
              {% endfor %}
            </select>
            {% render 'icon_arrow_down',
              icon_class: 'product-variant__select-icon'
            %}
          </div>
        </div>
        {% comment %} dropdown style end {% endcomment %}
      {% endif %}
      <spz-render id="product-variant-option{{opt.position}}-error-tip" manual layout="container">
        <template>
          ${function(){
            const tipText = {{ 'i18n.product.product_detail.please_select_variant' | t | json }}.replace(/\{\{\s+name\s+\}\}/g, data);
            return `<div class="product-info__variants-tips font-bold">${tipText}</div>`
          }()}
        </template>
      </spz-render>
    {% endfor %}
  </spz-variants>
{% endif %}
