{% include 'card_spacing_css' %}
{% assign collection = collections[section.settings.collection.id] %}
{% assign cover_image = section.settings.cover_image %}
{% assign cover_image_alt = '' %}
{% if cover_image %}
  {% assign cover_image_alt = images[cover_image.src].alt %}
{% elsif collection.id %}
  {% assign cover_image = collection.image.src %}
  {% assign cover_image_alt = cover_image.alt %}
{% endif %}

{% assign rows_of_products = section.settings.rows_of_products %}
{% assign mobile_per_row = section.settings.mobile_per_row %}
{% assign per_row = section.settings.per_row %}
{% assign heading = section.settings.heading %}
{% assign text = section.settings.text %}
{% assign button_text = section.settings.button_text %}
{% assign product_num_pc = per_row | times: rows_of_products %}
{% assign product_num_mobile = mobile_per_row | times: rows_of_products %}

{% assign max_count = product_num_pc %}
{% if product_num_mobile > max_count %}
  {% assign max_count = product_num_mobile %}
{% endif %}

{% assign settings_product_count = 0 %}
{% assign products = collection.products %}
{% assign layout = section.settings.layout %}
{% for block in section.blocks %}
  {% assign product = all_products[block.settings.product.id] %}
  {% if product.id and product.available %}
    {% assign settings_product_count = settings_product_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign offset = 0 %}
{%- comment -%} find collection products {%- endcomment -%}
{% if settings_product_count == 0 %}
  {% for item in products %}
    {% if item.available %}
      {% assign collection_product = item %}
      {% assign offset = forloop.index %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<style>
  .gap-x-\[15px\] { 
    column-gap: 15px; 
  }
  [data-section-id="{{ section.id }}"] .featured_product {
    padding: 20px 12px;
    background-color: #f5f5f5;
  }
  [data-section-id="{{ section.id }}"] .featured_product.featured_product_style .{{product_snippet_prefix}} {
    width: 47.71%;
  }
  [data-section-id="{{ section.id }}"] .featured_product .{{product_snippet_prefix}} {
    width: 66%;
  }
  [data-section-id="{{ section.id }}"] .featured_des {
    background-color: rgba(255,255,255, 0.8);
  }
  [data-section-id="{{ section.id }}"] .featured_des_heading {
    color: var(--color-overlay-title);
  }
  [data-section-id="{{ section.id }}"] .featured_des_text {
    color: var(--color-overlay-text);
  }
  @media (min-width: {{settings.breakpoint}}px) {
    [data-section-id="{{ section.id }}"] .featured_content {
      flex: 1;
    }
    [data-section-id="{{ section.id }}"] .featured_product {
      padding: 36px;
      width: 52%;
      min-height: 576px;
    }
    [data-section-id="{{ section.id }}"] .featured_product .{{product_snippet_prefix}} {
      width: 57.25%;
    }
    [data-section-id="{{ section.id }}"] [data-layout="right"]{
      flex-direction: row-reverse;
    }
    [data-section-id="{{ section.id }}"] [data-layout="left"]{
      flex-direction: row;
    }
  }
</style>
<div class="page-container">
  <div class="featured__collection_four overflow-hidden">
    <div class="flex md:flex-col rounded-global-small overflow-hidden direction_ltr_self" data-layout="{{layout}}">
      <div class="featured_product md:order-2 box-border flex justify-center items-center flex-shrink-0 {% if settings_product_count > 1 %} featured_product_style justify-between md:items-start {% endif %}">
        {% if settings_product_count > 0 %}
          {% for block in section.blocks %}
            {% assign cardProduct = all_products[block.settings.product.id] %}
            {% if cardProduct.id and cardProduct.available %}
              {% include 'product', card_product: cardProduct %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% if collection_product.id %}
            {% if collection_product.available %}
              {% include 'product', card_product: collection_product %}
            {% endif %}
          {% else %}
            {% unless collection.products_count >= 0 %}
              {% include 'product', card_product: default_product %}
            {% endunless %}
          {% endif %}
        {% endif %}
      </div>
      <div class="featured_content md:order-1 relative">
        <a class="relative block w-full {% unless cover_image %} md:pb-full {% endunless %} lg:h-full" {% include 'link', link: collection %}>
          {% if cover_image %}
            <spz-img
              class="lg:h-full "
              src='{{ cover_image | img_url }}'
              alt='{{ cover_image_alt | default: heading | escape }}'
              layout="responsive"
              width="375"
              height="375"
              object-fit="cover"
              auto-fit
              ssr
              size-ratio="2"
            ></spz-img>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'absolute inset-0 w-full h-full fill-svg bg-svg' }}
          {% endif %}
        </a>
        {% if heading or text or button_text %}
          <div class="absolute left-0 right-0 bottom-3 px-3 flex justify-center lg:bottom-4 lg:px-12">
            <div class="featured_des px-6 py-5 {% if settings.edges == 'round' %} rounded-global-fixed {% else %} rounded {% endif %} bg-[#FFFFFF] bg-opacity-80 text-center overflow-hidden lg:px-12 lg:py-7">
              {% if heading %}
                <h4 {{block.shoplaza_attributes}} class="m-0 title-font type-heading-font-family font-normal leading-1.2">
                  <a class="text-inherit no-underline featured_des_heading" {% include 'link', link: collection %}>{{ heading | escape }}</a>
                </h4>
              {% endif %}
              {% if text %}
                <p {{block.shoplaza_attributes}} class="featured_des_text m-0 mt-2 body-plus-2 lg:mt-3">{{ text | escape }}</p>
              {% endif %}
              {% if button_text %}
                <a {{block.shoplaza_attributes}} class="inline-block mt-4 px-6 py-2 button-primary body-plus-2 no-underline rounded-btn lg:mt-5" {% include 'link', link: collection %}>{{ button_text | escape }}</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {%- comment -%} product {%- endcomment -%}
    <div class="md:hidden grid grid-cols-{{ per_row }} gap-x-10 gap-y-11 mt-10">
      {% if collection.id %}
        {% for item in products offset: offset limit: product_num_pc %}
          {% include 'product', card_product: item,  %}
        {% endfor %}
      {% else %}
        {% for item in (1..product_num_pc) %}
          {% include 'product', card_product: default_product %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="lg:hidden grid mt-4 grid-cols-{{ mobile_per_row }} gap-x-[15px] gap-y-6">
      {% if collection.id %}
        {% for item in products offset: offset limit: product_num_mobile %}
          {% include 'product', card_product: item, label_type: 'md' %}
        {% endfor %}
      {% else %}
        {% for item in (1..product_num_mobile) %}
          {% include 'product', card_product: default_product %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}

{
  "name": "featured_collection_four",
  "max_blocks": 2,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en-US": "Collection",
        "zh-CN": "专辑"
      }
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": {
        "en-US": "Collection cover image",
        "zh-CN": "专辑封面"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en-US": "Heading",
        "zh-CN": "标题"
      },
      "default": "Featured collection"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "en-US": "Text",
        "zh-CN": "文字"
      },
      "default": ""
    },
    {
      "type": "text",
      "id": "button_text",
      "label": {
        "en-US": "Button",
        "zh-CN": "按钮"
      },
      "default": "Shop now"
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en-US": "Layout",
        "zh-CN": "布局"
      },
      "options": [
        {
          "value": "left",
          "label": {
            "en-US": "Product left",
            "zh-CN": "商品在左"
          }
        },
        {
          "value": "right",
          "label": {
            "en-US": "Product right",
            "zh-CN": "商品在右"
          }
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "mobile_per_row",
      "label": {
        "en-US": "Mobile products per row",
        "zh-CN": "移动端每行商品数量"
      },
      "options": [
        {
          "value": 1,
          "label": {
            "en-US": "Large grid",
            "zh-CN": "一栏"
          }
        },
        {
          "value": 2,
          "label": {
            "en-US": "Small grid",
            "zh-CN": "两栏"
          }
        }
      ],
      "default": 2
    },
    {
      "type": "range",
      "id": "per_row",
      "label": {
        "en-US": "Desktop products per row",
        "zh-CN": "PC端每行商品数量"
      },
      "unit": "",
      "step": 1,
      "min": 2,
      "max": 6,
      "default": 4
    },
    {
      "type": "range",
      "id": "rows_of_products",
      "label": {
        "en-US": "Rows of products",
        "zh-CN": "商品行数"
      },
      "unit": "",
      "step": 1,
      "min": 1,
      "max": 5,
      "default":1
    },
    {
      "type": "spacing",
      "id": "spacing",
      "label": {
        "en-US": "Spacing",
        "zh-CN": "间距留白"
      },
      "pc": {
        "top": "40",
        "right": "",
        "bottom": "40",
        "left": ""
      },
      "mobile": {
        "top": "20",
        "right": "",
        "bottom": "20",
        "left": ""
      },
      "default": {
        "pc": {
          "top": "40",
          "right": "",
          "bottom": "40",
          "left": ""
        },
        "mobile": {
          "top": "20",
          "right": "",
          "bottom": "20",
          "left": ""
        }
      }
    }
  ],
  "blocks": [
    {
      "type": "feature_product",
      "name": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": {
            "en-US": "Product",
            "zh-CN": "商品"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "featured_collection_four",
      "cname": {
        "en-US": "Featured collection 4",
        "zh-CN": "推荐专辑4"
      },
      "category": {
        "en-US": "Collection",
        "zh-CN": "专辑"
      },
      "ccategory": {
        "en-US": "Collection",
        "zh-CN": "专辑"
      },
      "icon": "oss/operation/e900ecfba2345a83595b9309653785a7.svg",
      "display": true,
      "blocks": []
    }
  ]
}
{% endschema %}