{% capture form_id %}product-form-{{section.id}}-{{card_product.id}}-{{label_type}}{% endcapture %}

<button id="{{form_id}}-button" type="button" class="product_snippet__atc_select_btn product-snippet__quick-shop-btn select button-secondary" {{attr}}>{{'i18n.product.product_detail.add_to_cart' | t}}</button>

<spz-tooltip layout="logic" for="{{{form_id}}-button" id="{{form_id}}__tooltip" interact="click" no-arrow placement="bottomLeft" overlay-class="product_snippet__atc_tooltip">
  <spz-product-form
    product-id="{{card_product.id}}"
    layout="container"
    id="{{form_id}}"
    @atcSuccess="{{form_id}}__tooltip.close();{{form_id}}__form.clear;"
    @atcError="{{form_id}}__tooltip.close();{{form_id}}__form.clear;theme-toast.showToast(content=event.message);"
    hidden
  >
    <form is="spz-form" id="{{form_id}}__form">
      <div class="product_snippet__atc_tooltip_content">
        <input type="radio" name="variant_id" value="" checked>
        <label disabled>{{'i18n.products.product.choose_an_option' | t}}</label>
        {% for variant in card_product.variants %}
          <input type="radio" id="{{form_id}}__{{variant.id}}" name="variant_id" value="{{variant.id}}" @change="{{form_id}}.addToCart">
          <label for="{{form_id}}__{{variant.id}}">
            {{variant.title}}/<span class="money product-snippet__price">{{variant.price | money_with_symbol}}</span>{% if variant.compare_at_price > variant.price and shop.wholesale_enabled == false %}<span class="money product-snippet__compare-at-price">{{variant.compare_at_price | money_with_symbol}}</span>{% endif %}
          </label>
        {% endfor %}
      </div>
    </form>
  </spz-product-form>
</spz-tooltip>
