{% include 'css_form' %}
<style>
  .reset_pw_page {
    padding: 20px var(--page-spacing);
  }
  .reset_title {
    font-size: 20px;
  }
  .re_send_btn {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    list-style: none;
  }

  .reset-password__visibility-icon {
    position: absolute;
    top: 2px;
    right: 16px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 16px;
    margin-right: -16px;
    cursor: pointer;
    user-select: none;
  }

  .reset-password__visibility-icon:not(.visible) .icon-eye,
  .reset-password__visibility-icon.visible .icon-eyelash {
    display: none;
  }

  .reset-password-form__password-input,
  .reset-password-form__confirm-password-input {
    padding-right: 96px;
  }

  @media (min-width: {{settings.breakpoint}}px) {
    .reset_pw_page {
      width: calc(420px + var(--page-spacing) * 2);
      padding-top: 160px;
      padding-bottom: 160px;
    }
    .reset_title {
      font-size: 24px;
    }
  }
</style>

{% if shop.locale == 'ar-SA' %}
  <style>
    html[dir="rtl"] .reset-password__visibility-icon {
      left: 16px;
      right: unset;
      margin-left: -16px;
      margin-right: 0;
    }

    html[dir="rtl"] .reset-password-form__password-input,
    html[dir="rtl"] .reset-password-form__confirm-password-input {
      padding-left: 96px;
      padding-right: 15px;
    }
  </style>
{% endif %}

<div class='reset_pw_page page-container text-center'>
  <h4 class='text-base reset_title'>{{ 'i18n.customers.reset_password.reset' | t }}</h4>
  <spz-render id='form-tips-reset' class="hidden" layout='container' manual>
    <template>
      <div class='form-tips-text'>${data.errors && data.errors[0]}</div>
    </template>
  </spz-render>

  <form
    class='form flex flex-col'
    method='POST'
    id='reset-password-email-form'
    action-xhr='{{ '/api/customers/password_reset_email' | add_root_url }}'
    custom-validation='change-interact-and-submit'
    @submitError="form-tips-reset.rerender(data=event);form-tips-reset.toggleClass(class='hidden', force=false);"
    @submitSuccess="theme-toast.showToast(content='{{ 'i18n.customers.reset_password.send_success' | t }}');reset-password-email-form.toggleClass(class='hidden', force=true);reset-password-code-form.toggleClass(class='hidden', force=false);form-tips-reset.toggleClass(class='hidden', force=true);"
  >
    <div class='form_item'>
      <input
        class='form_input'
        id='email'
        type='text'
        name='email'
        tabindex='1'
        autofocus
        required
        pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`\{\|\}~\-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`\{\|\}~\-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-]*[a-zA-Z0-9])?"
        @input-throttled="reset-password-code-form.insert(name='email', value=event.value);"
      >
      <label class='form_label' for='email'>{{ 'i18n.customers.reset_password.email' | t }}</label>
      <div class='form_item form-tips-error' validation-for='email' visible-when-invalid='valueMissing' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.email_is_required' | t }}</div>
      <div class='form_item form-tips-error' validation-for='email' visible-when-invalid='patternMismatch' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.request_valid_email' | t }}</div>
    </div>

    <button class='form_submit button-primary' type='submit'>{{ 'i18n.customers.reset_password.send' | t }}</button>
  </form>

  <form
    class='flex flex-col form hidden'
    id='reset-password-code-form'
    method='PATCH'
    action-xhr='{{ '/api/customers/password_reset' | add_root_url }}'
    custom-validation='change-interact-and-submit'
    redirect-when-submit-success='{{ routes.account_reset_success_url }}'
    @submitError="form-tips-reset.rerender(data=event);form-tips-reset.toggleClass(class='hidden', force=false);"
    @submitSuccess="form-tips-reset.toggleClass(class='hidden', force=true);"

  >
    <input name='email' type='hidden'>
    <div class='form_item'>
      <input
        class='form_input'
        id='code'
        name='code'
        type='text'
        autocomplete='new-code'
        maxlength='6'
        required
      >
      <label class='form_label' for='code'>{{ 'i18n.customers.reset_password.verification_code' | t }}</label>
      <div class='form_item form-tips-error' validation-for='code' visible-when-invalid='valueMissing' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.code_is_required' | t }}</div>
    </div>
    <div class='form_item'>
      <input
        class='form_input reset-password-form__password-input'
        id='password'
        name='password'
        type='password'
        minlength='6'
        maxlength='16'
        autocomplete='new-password'
        pattern='[\s\S]{6,16}'
        required
      >
      <label class='form_label' for='password'>{{ 'i18n.customers.reset_password.password' | t }}</label>
      <div class='form_item form-tips-error' validation-for='password' visible-when-invalid='valueMissing' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.password_is_required' | t }}</div>
      <div class='form_item form-tips-error' validation-for='password' visible-when-invalid='patternMismatch' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.length_is_required' | t }}</div>

      <i class="reset-password__visibility-icon" id="reset-password-form-icon-{{section.id}}" @tap="reset-password-code-form.togglePasswordVisibility(name='password');reset-password-form-icon-{{section.id}}.toggleClass(class='visible');">
        {% include 'icon_eye' %}
        {% include 'icon_eyelash' %}
      </i>
    </div>
    <div class='form_item'>
      <input
        class='form_input reset-password-form__confirm-password-input'
        id='confirm-password'
        name='confirm_password'
        confirm-for='#password'
        type='password'
        minlength='6'
        maxlength='16'
        autocomplete='new-confirm-password'
        pattern='[\s\S]{6,16}'
        required
        @input-throttled="form-tips.toggleClass(class='form-tips-visible', force=false);"
      >
      <label class='form_label' for='confirm-password'>{{ 'i18n.customers.reset_password.confirm_password' | t }}</label>
      <div class='form_item form-tips-error' validation-for='confirm-password' visible-when-invalid='valueMissing' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.confirm_code_is_required' | t }}</div>
      <div class='form_item form-tips-error' validation-for='confirm-password' visible-when-invalid='patternMismatch' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.length_is_required' | t }}</div>
      <div class='form_item form-tips-error' validation-for='confirm-password' visible-when-invalid='valueMismatch' hidden>{% include 'icon_warning' %}{{ 'i18n.customers.tips.request_password_match' | t }}</div>

      <i class="reset-password__visibility-icon" id="reset-confirm-password-form-icon-{{section.id}}" @tap="reset-password-code-form.togglePasswordVisibility(name='confirm_password');reset-confirm-password-form-icon-{{section.id}}.toggleClass(class='visible');">
        {% include 'icon_eye' %}
        {% include 'icon_eyelash' %}
      </i>
    </div>
    <button class='button-primary form_submit ' type='submit' id='confirmButton' data-track='dj.resetpwConfirm'>{{ 'i18n.customers.reset_password.confirm' | t }}</button>
    <div class='footer_text'>
      <span>{{ 'i18n.customers.reset_password.no_code' | t }}</span>
      <button
        class='footer_text_link re_send_btn'
        @tap="reset-password-email-form.toggleClass(class='hidden', force=false);reset-password-code-form.toggleClass(class='hidden', force=true);reset-password-code-form.clear;form-tips-reset.toggleClass(class='hidden', force=true);"
        type='reset'
      >
        {{ 'i18n.customers.reset_password.send_again' | t }}
      </button>
    </div>
  </form>
</div>

{% schema %}
{
  "name": "resetpw",
  "settings": [],
  "presets": [
    {
      "name": "resetpw",
      "cname": {
        "en-US": "Reset password",
        "zh-CN": "重置密码"
      },
      "category": "导航",
      "ccategory": "导航",
      "display": false
    }
  ]
}
{% endschema %}
